table thead th {
  text-align: left;
}
table thead td {
  text-align: left;
}
table tbody .aksi {
  text-align: center;
}
table tbody .judulPengumuman {
  max-width:100px;
}
@media screen and (max-width: 600px) {
table tbody .aksi {
text-align: right;
}
table tbody .judulPengumuman {
  max-width: 100%;
}
  table {
    border: 0;
  }
.button-tambah{
  height: 40px;
  padding: 2px;
}
.button-pembungkus{
  padding-bottom: 5px;
}
.pembungkus-text-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-td{
  width: 100px;
  height: 120px;
  text-align: right;
  display: flex;
  justify-content: right;
}
.td-pmbngks{
  text-align: right;
  display: flex;
  justify-content: right;
}

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tbody td .responsive-buttons {
    display: flex;
    align-items: flex-end;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table tbody td {
    text-align: right;
  }

  table tbody td button .responsive-buttons{
    margin-right: 300%;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
@media screen and(max-width: 320px) {
  #app-main{
    padding-top: 50px;
  }
  #card-header{
    padding-top: 50px;
    margin-top: 100px;
  }
  .button-tambah{
   width: 1px;
  }
}