@media screen and (max-width: 767px) {
    .judul {
      font-size: 30px !important;
    }
    #judul-2{
        font-size: 20px !important;
    }
    .kolom-image{
        flex-wrap: wrap !important;
    }
    .text{
        font-size: 10px !important;
    }
    #div-img{
       
        width: 100% !important;
    }
    #img{
        width: 100% !important;
    }
  }