@media screen and (max-width: 768px) {
    .judul {
      font-size: 30px !important;
    }
    #judul-2{
        font-size: 20px !important;
    }
    .kolom-image{
       
        flex-wrap: wrap !important;
    }
    .text{
   margin-top: 100px;
        font-size: 10px !important;
    }
    #div-img{

        width: 100% !important;
    }
    #img{
        width: 100% !important;
    }
  }
  .img-top{
    padding-top: 70px;
  }
