.head{
    background-image: url(https://img.freepik.com/free-vector/white-elegant-texture-background_23-2148430934.jpg);
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;

}
.h1{
    width: 200px;
}

.img{
    width: 500px;
}
.form{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.option{
    margin:50px;
}
.form-img{
    
}