.my-custom-details {
    color: black;
    height: 500px;
  }
.pembungkus-gabung{
    padding-top: 100px;
}
.media-social{
    display: flex;
    gap: 100px;
}
@media screen and (max-width:768px) {
    .pembungkus-gabung{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text1-gabung{
        text-align: center;
    }
    .text2-gabung{
        text-align: center;
    }
    #thumb{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    #text1-gabung{
        font-size: 15px;
        text-align: center;
        /* display: flex;
        align-items:center ;
        justify-content: center; */

    }
    #text2-gabung{
        font-size:20px;
        /* padding-right: 100px; */
        text-align: center;
    }
   
    .div-gabung{
        /* padding-left: 90px; */
        text-align: center;

    }
    /* #div-gabung-akhir{
        padding: 20px;
    } */
    .pembungkus-gabung{
        padding-right:50px ;
    }
    .keterangan-padding{
        padding: 10px;
        text-align: justify;
    }
        
    
    
}
