@media screen and (max-width: 320px) {
    #text1-gabung{
        font-size: 15px;
        text-align: center;
    }
    #text2-gabung{
        font-size:20px;
        /* padding-right: 100px; */
        text-align: center;
    }
   
    .div-gabung{
        /* padding-left: 90px; */
        text-align: center;

    }
    #div-gabung-akhir{
        padding: 20px;
    }
    
}