.my-custom-details {
    color: black;
    height: 500px;
  }
.pembungkus-gabung{
    padding-top: 100px;
}
.media-social{
    display: flex;
    gap: 100px;
}
@media screen and (max-width:768px) {
    .pembungkus-gabung{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text1-gabung{
        text-align: center;
    }
    .text2-gabung{
        text-align: center;
    }
    #thumb{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
   
    #icon-text-waktu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    #icon-waktu1{
        padding-right: 120px;
    }
    #icon-waktu2{
        padding-right: 80px;
    }
    #icon-waktu3{
        padding-right: 110px;
    }
    #icon-waktu4{
        padding-right: 5px;
    }

}

@media screen and (max-width: 320px) {
    #text1-gabung{
        font-size: 15px;
        text-align: center;
        /* display: flex;
        align-items:center ;
        justify-content: center; */

    }
    #text2-gabung{
        font-size:20px;
        /* padding-right: 100px; */
        text-align: center;
    }
   
    .div-gabung{
        /* padding-left: 90px; */
        text-align: center;

    }
    /* #div-gabung-akhir{
        padding: 20px;
    } */
    .pembungkus-gabung{
        padding-right:50px ;
    }
    .keterangan-padding{
        padding: 10px;
        text-align: justify;
    }
      #div-gabung-akhir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
    
}
@media (max-width: 390px) {
    .form-control.widget-content-right {
      width: 100%;
      margin: 10px 0; /* Add padding/margin as needed */
    }

    /* Optional: Center the input horizontally */
    .form-control.widget-content-right.w-75 {
      margin-left: auto;
      margin-right: auto;
    }
    #icon-waktu1{
        padding-right: 90px;
    }
    #icon-waktu2{
        padding-right: 50px;
    }
    #icon-waktu3{
        padding-right: 80px;
    }
    #icon-waktu4{
        padding-left: 25px;
    }
  }
