.div{
      
        background-image: url(https://img.freepik.com/free-vector/white-elegant-texture-background_23-2148428927.jpg?w=2000);
        background-repeat: no-repeat;
        background-size: cover;

}